<div class="col-md-4 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
<<<<<<< HEAD
            <a href="/productpage/@id"> <img src="images/tr1.png" alt="#" /></a>
=======
            <a href="/"> <img src="@imageAddress(image)" alt="#" /></a>
>>>>>>> c6a3433559cf7a6aa12f974f94a517290c265339
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>@ProductName</h4>
                <p>Under <span>@Category</span></p>
            </div>
            <a href="/" tabindex="0">$@Price</a>
        </div>
        <div class="prod-btn">
            <button type="submit" class="btn btn-warning">Update</button>
            <button type="submit" class="btn btn-danger">Delete</button>
            <p>@Ratings likes</p>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string ProductName { set; get; }

    [Parameter]
    public string Category { set; get; }

    [Parameter]
    public string Price { set; get; }

    [Parameter]
    public int Ratings { set; get; }

    [Parameter]
    public int id { set; get; }

    [Parameter]
    public string image { get; set; }

    string imageAddress(string image)
    {
        string temp = "images/" + image + ".png";
        return temp;
    }

    }
